/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-extrabold.ttf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-extrabold.ttf') format('woff'), /* Modern Browsers */

  }
  @font-face {
    font-family: 'Montserrati';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-light.ttf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-light.ttf') format('woff'), /* Modern Browsers */

  }
 body{
     background-color: white;
      background: url("../img/main3.png") no-repeat;
     max-width: 900px;
     
  }
.first-section-container{
    padding-top: 270px ;
    padding-bottom: 110px;

}
.header{
    padding-top: 30px;
    padding-bottom: 60px;

}
.logo-header-img{
    width: 320px;
    position: relative;
    left: 100px;
    top: 8x;

}

.nav{
    font-family: 'Montserrat';
    font-size: 25px;
    min-width: 160%;
    max-width: 10%;
    line-height: 2;
    margin-left: 300px;
    margin-right: 600px; 
    position: relative;
    left: 180px;
  top: -70px;
}
.nav-item{  
    display: inline; 
    margin-right: 50px;  
    position: relative;
    text-decoration: none;
    color: #373737;
  
}
.nav-home{
   background-color: #fe484f;
    border-top: 90px solid #fe484f;
   border-bottom: 50px solid #fe484f;
   border-left: 25px solid #fe484f;
   border-right: 25px solid #fe484f;
   position: relative;
   color: white;
}
.section-hero-heading{
    font-family: 'Roboto Condensed', sans-serif;
        font-size: 90px;
        position: relative;
        top: -220px;
        left: 200px;
}
.section-hero-tank{
    position: relative;
    left: 200px;
    top: -90px;
}
.section-hero-text{
    font-family:'Roboto Condensed' ;
    font-size: 50px;
    position: relative;
 color: aliceblue;
 left: -30px;
    top: -350px;
   width: 800px;
   height: 80px;
   background-color: #fe484f;
   border-left: 150px solid #fe484f;
   border-top: 15px solid #fe484f;
   border-bottom: 5px solid #fe484f;
   border-right: -10px solid #fe484f;
   transform: skew(10deg);
}
.section-hero-description{
    font-family:'Roboto Condensed' ;
    font-size: 22px;
    position: relative;
    left: 60px;
    top: -340px;
}
.btn{
    color: aliceblue;
    font-family: 'Montserrat';
    font-size: 20px;
    text-decoration: none;
    position: relative;
    left: 400px;
    top: -300px;
    background-color: #fe484f;
    border: 20px solid #fe484f; 
    border-left: 30px solid #fe484f;
    border-right: 30px solid #fe484f;  
    border-radius: 25px ; 
}
.footer{
    width: 320px;
    position: relative;
    left:  689px;
    bottom: 100px;
}